:root {
    --pwidth: 170px;
    --pheight: 170px;
    --nrow: 3;
    --ncol: 2;
}

* {
    box-sizing: border-box;
}


/* body {
    background-color: #131417;
    color: white;
} */

body {
    background: linear-gradient(-45deg, #000000, #232526, #414345, #434343);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.cs-box {
    /* background-color: rgb(252, 90, 90); */
    font-size: 24px;
    text-align: center;
    width: var(--pwidth);
    height: var(--pheight);
    border-radius: 15px;
    /* box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3); */
}

.left {
    grid-column-start: 1;
}

.right {
    grid-column-start: 2;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--ncol), var(--pwidth));
    grid-template-rows: repeat(var(--nrow), var(--pheight));
    border-radius: 15px;
    background-color: #e0e0e0;
    width: calc(var(--pwidth) * var(--ncol) + 15px * (var(--ncol) + 1));
    margin-left: calc((100% - calc(var(--pwidth) * var(--ncol) + 15px * (var(--ncol) + 1))) / 2);
    row-gap: 15px;
    column-gap: 15px;
    padding: 15px;
}

.closed {
    animation: closed 0.6s ease-out;
    animation-fill-mode: forwards;
}

@keyframes closed {
    0% {
        color: rgb(100, 248, 191);
    }
    100% {
        color: rgb(241, 65, 41);
    }
}

.open {
    animation: open 0.6s ease-out;
    animation-fill-mode: forwards;
}

@keyframes open {
    0% {
        color: rgb(241, 65, 41);
    }
    100% {
        color: rgb(100, 248, 191);
    }
}

.vacant {
    animation: vacant 1s ease-out;
    animation-fill-mode: forwards;
}

@keyframes vacant {
    0% {
        background-color: rgb(175, 11, 11);
    }
    100% {
        background-color: rgb(11, 167, 112);
    }
}

.occupied {
    animation: occupied 1s ease-out;
    animation-fill-mode: forwards;
}

@keyframes occupied {
    0% {
        background-color: rgb(11, 167, 112);
    }
    100% {
        background-color: rgb(175, 11, 11);
    }
}

.neumorphic {
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}